{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}  {{ product.name }} {% endblock %}
{% block content %}

    <div class="product-detail">
        <h1>{{ product.name }}</h1>
        <p class="price">${{ product.price }}</p>
        <h2> {{ product.description|linebreaks }}</h2>
    </div>
    <hr>

    <div class='col-sm-5 '>

    </div>
    <h3>{% with total_likes=product.users_like.count users_like=product.users_like.all %}</h3>
        <div>
            <div>
                <span class="count">
                    <span class="total">{{ total_likes }}</span>
                    like{{ total_likes|pluralize }}
                </span>

                <a href="#" data-id="{{ product.id }}"

                   data-action="{% if request.user in users_like %}un{% endif %}like" class=" button like">
                    {% if request.user not in users_like %}
                        Like
                    {% else %}
                        Unlike
                    {% endif %}
                </a>
                <div class="error-message">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <p class="error-like">{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            {{ image.description|linebreaks }}
        </div>


    {% endwith %}

    <br>
    {% with comments.count as total_comments %}
        <h3>{{ total_comments }} comment{{ total_comments|pluralize }}</h3>
    {% endwith %}

    {% for comment in comments %}
        <div class="comment">
            <p class="info"> by {{ comment.name }} {{ comment.created }}:</p>
            {{ comment.text|linebreaks }}
        </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}
    <br>


    {% if new_comment %}
        <h4>Your comment has been added.</h4>
    {% else %}

        <h4>Add a new comment</h4>
        <form action="#" method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
        </form>
    {% endif %}
{% endblock %}


{% block scripts %}

    <script>
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $(document).ready(function () {
            $('a.like').click(function (e) {
                e.preventDefault();

                var $this = $(this);
                $.post('{% url "like" %}', {
                    id: $this.data('id'),
                    action: $this.data('action')
                }).done(function (data) {
                    if (data.status == 'ok') {
                        var previous_action = $('a.like').data('action');
                        // toggle data-action
                        $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
                        // toggle link text
                        $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');
                        // update total likes
                        var previous_likes = parseInt($('span.count .total').text());
                        $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);

                    }
                    else {
                        alert("Please login or register to put the Like");
                        location.reload();
                    }
                });
            });
        });
    </script>
{% endblock %}





