{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    Products
{% endblock %}


{% block content %}
    <div id="users">
        <button class=" button button sort  " data-sort="like">Sort by likes</button>
        <div class="list">
            {% if products|length > 0 %}
                {% for product in products|dictsortreversed:"users_like.count" %}
                    <div class="item">
                        <a href="{{ product.get_absolute_url }}" class="name">{{ product.name }}</a><br>
                        ${{ product.price }}<br>
                        <p class="like">{{ product.users_like.count }} like{{ product.users_like.count|pluralize }}</p>
                        <hr>
                    </div>
                {% endfor %}
            {% else %}
                <h1> No products are available. Visit admin page for populate</h1>
            {% endif %}
        </div>
    </div>
    <div class="paginator">
        {% include "product/pagination.html" with page=products %}
    </div>

{% endblock %}


{% block scripts %}
    <script>
        var options = {
            valueNames: ['name', 'like']
        };
        var userList = new List('users', options);
    </script>
{% endblock %}