@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #5993bb;
}

a:hover {
    color: #77b6e2;
}

a.button, input[type="submit"] {
    color: #fff;
    background: #5993bb;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    border: 0;
    text-decoration: none;
}

a.button.light {
    color: #666;
    background: #ededed;
}

input[type="button"] {
    color: #fff;
    background: #5993bb;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    border: 0;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table th, table td {
    text-align: left;
    font-size: 14px;
    padding: 10px;
    margin: 0;
}

tbody tr:nth-child(odd) {
    background: #efefef;
}

tbody tr.subtotal {
    background: #ccc;
}

thead th, tbody tr.total {
    background: #5993bb;
    color: #fff;
    font-weight: bold;
}

table.cart {
    margin-bottom: 40px;
}

table.cart img {
    width: 180px;
}

tbody td.num {
    text-align: right;
}

td input[type="submit"] {
    font-size: 12px;
    padding: 4px 10px;
}

form p label, form p input {
    float: left;
    clear: both;
}

form p label {
    font-size: 14px;
    padding-bottom: 4px;
}

form p input {
    width: 300px;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 10px 12px;
    border: 0;
    background: #efefef;
    color: #666;
    border-radius: 4px;
}

ul.errorlist {
    float: left;
    color: #ff0000;
    clear: both;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

#header {
    padding: 10px;
    font-size: 18px;
    overflow: auto;
}

#subheader {
    background: #ececec;
    color: #444;
    padding: 15px;
    overflow: auto;
}

#subheader a {
    padding: 15px;
}

#header .logo {
    font-family: 'Ubuntu', sans-serif;
    float: left;
    color: #333;
    font-size: 22px;
    margin-right: 10%;
}

#subheader .cart {
    float: right;
    padding-top: 4px;
}

#content {
    padding: 0 100px;
    overflow: hidden;
}

#sidebar {
    width: 220px;
    padding: 30px 20px 0 0;
    float: left;
}

#sidebar ul {
    margin: 0;
    padding: 0;
}

#sidebar ul li {
    margin: 0;
    list-style: none;
    padding: 10px 14px;
}

#sidebar ul li a {
    display: block;
}

#sidebar ul li.selected {
    background: #5993bb;
    border-radius: 4px;
}

#sidebar ul li.selected a {
    color: #fff;
}

#main {
    float: left;
    width: 96%;
    overflow: hidden;
    text-align: center;

}

.products {
    display: table;
    margin: 0 auto;
    padding-left: 20px;
}

.product-list .item {
    padding: 10px 20px 10px 0;
    text-align: center;
    line-height: 1.2;
}

.product-list .paginator {

    padding: 10px 20px 10px 0;
    text-align: center;
    line-height: 1.2;
}

.product-list .item img {
    width: 100%;
    margin-bottom: 8px;
}

.product-detail {
    text-align: justify;
}

.product-detail .price {
    color: #333;
    font-size: 28px;
    font-weight: bold;
}

.product-detail img {
    width: 40%;
    float: left;
    padding: 0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom: 0;
}

.product-detail h2 {
    margin-top: 10px;
}

.order-form {
    float: left;
}

.order-info {
    float: right;
    width: 300px;
    background: #efefef;
    padding: 10px 20px;
    color: #333;
    border-bottom: 4px solid #5993bb;
}

.order-info h3 {
    color: #5993bb;
}

.order-info ul li {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.order-info p {
    font-weight: bold;
    float: right;
}

.order-info span {
    float: right;
}

.neg {
    color: #dc1616;
}

.languages {
    float: right;
    padding-top: 4px;
    font-size: 14px;
}

.languages ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

.languages ul li {
    float: left;
    margin: 0 0 0 10px;
    font-size: 14px;
}

.languages p {
    float: left;
    margin: 0;
}

.recommendations {
    clear: both;
}

.recommendations div {
    float: left;
}

.recommendations img {
    width: 200px
}

.recommendations p {
    clear: both;
}

.recommendations.cart {
    width: 60%;
    float: left;
    overflow: auto;
}

.recommendations.cart h3 {
    margin-top: 0;
}

.recommendations.cart .item {
    margin-right: 10px;
}

.recommendations.cart img {
    width: 120px;
}

.user{
     float:right;
}

.success{
    background: grey;
    text-align: center;
}



h2 {
  font-family:sans-serif;
}
.list {
  font-family:sans-serif;
  margin:0;
  padding:20px 0 0;
}
.list > li {
  display:block;
  background-color: #eee;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
}
.avatar {
  max-width: 150px;
}
img {
  max-width: 100%;
}
h3 {
  font-size: 16px;
  margin:0 0 0.3rem;
  font-weight: normal;
  font-weight:bold;
}
p {
  margin:0;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
    border-radius: 4px;
    padding: 3px 20px;
    /*border: 0;*/


  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #5993bb;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:13px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}



.error-like{
    background: red;
    text-align: center;
}


.success-like{
    background: grey;
    text-align: center;
}
.error-message{
    padding-top: 10px;
}