@import "http://fonts.googleapis.com/css?family=Ubuntu";
body{margin:0;padding:0;font-family:helvetica,sans-serif}
h1,h2,h3,h4,h5,h6{font-family:'Ubuntu',sans-serif;font-weight:400}
a{text-decoration:none;color:#5993bb}
a:hover{color:#77b6e2}
a.button,input[type="submit"]{color:#fff;background:#5993bb;border-radius:4px;padding:10px 20px;font-size:14px;border:0;text-decoration:none}
a.button.light{color:#666;background:#ededed}
input[type="button"]{color:#fff;background:#5993bb;border-radius:4px;padding:10px 20px;font-size:14px;border:0}
.text-left{text-align:left}
.text-right{text-align:right}
form p label,form p input{float:left;clear:both}
form p label{font-size:14px;padding-bottom:4px}
form p input{width:300px;font-size:13px;margin-bottom:10px;padding:10px 12px;border:0;background:#efefef;color:#666;border-radius:4px}
#header{padding:10px;font-size:18px;overflow:auto}
#subheader{background:#ececec;color:#444;padding:15px;overflow:auto}
#subheader a{padding:15px}
#content{padding:0 100px;overflow:hidden}
.products{display:table;margin:0 auto;padding-left:20px}
.product-list .item{padding:10px 20px 10px 0;text-align:center;line-height:1.2}
.product-detail{text-align:justify}
.product-detail .price{color:#333;font-size:28px;font-weight:700}

.user{float:right}
.success{background:grey;text-align:center}
h2{font-family:sans-serif}
h3{font-size:16px;margin:0 0 .3rem;font-weight:400;font-weight:bold}
p{margin:0}
input{border:solid 1px #ccc;border-radius:5px;padding:7px 14px;margin-bottom:10px}
input:focus{outline:none;border-color:#aaa}
.sort{border-radius:4px;padding:3px 20px;border:none;display:inline-block;color:#fff;text-decoration:none;background-color:#5993bb;height:30px}
.error-like{background:red;text-align:center}
.success-like{background:grey;text-align:center}
.error-message{padding-top:10px}
form p{width:100%;overflow:auto}
input,textarea{clear:both;float:left;margin:0 0 10px;background:#efefef;border:0;padding:6px 10px;font-size:14px}
input[type=submit],a.button{font-weight:700;color:#fff;font-size:14px;text-transform:uppercase}
.errorlist{color:#c03;float:left;clear:both;padding-left:10px}
.helptext{margin:0 0 20px;color:#aaa;clear:both;float:left;font-size:13px}
.count{color:#aaa;border:3px solid #bbb;border-radius:26px;padding:10px 20px;margin:20px 10px 0}
.comment{padding:10px}
.comment:nth-child(even){background:#efefef}
.comment .info{font-weight:700;font-size:12px;color:#666}