{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}   shop {% endblock %}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src=" http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
    <script src="http://listjs.com/assets/javascripts/list.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    {% block head %}
    {% endblock %}


    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
</div>
<div id="subheader">
    <a href="/admin"> Administration</a>

     <span class="user">

                <a href={% url "product_list" %}>Home</a>


         {% if request.user.is_authenticated %}
             Hello {{ request.user }} <a href="{% url "logout" %}">Logout</a>
         {% else %}
             <a href="{% url "login" %}">Log-in</a>
             <a href="{% url "register" %}">Registration</a>
         {% endif %}
        </span>

</div>

<div id="content">
 <div >
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "success" %}
                        <p class="success">{{ message }}</p>
                        {% endif %}
                {% endfor %}
            {% endif %}
        </div>
 <div>

    {% block content %}
    {% endblock %}
</div>
</div>

{% block scripts %}{% endblock %}
</body>
</html>