{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}   shop {% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
      </div>
   <div id="subheader">
     <span class="user">
                <a href={% url "product_list" %}>Home</a>
                <a href="/admin"> Admin</a>


        {% if request.user.is_authenticated %}
            Hello {{ request.user }}, <a href="{% url "logout" %}">Logout</a>
        {% else %}
            <a href="{% url "login" %}">Log-in</a>
        {% endif %}
        </span>

    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>